<div id="header">
  <div class="title2">
  <h3>新規投稿</h3>
  </div>
</div>

<div class="newpost">
  <%= form_for @post do |f| %>
    <div class="field">
      <%= f.label :content %>
      <%= f.text_field :content, :size => 140 %>
    </div>

    <div class="field">
      <%= f.label :picture %>
      <%= f.file_field :picture %>
    </div>

    <button type="button" class="btn btn-light"><%= f.submit "投稿" %></button>
  <% end %>
  <%= link_to "投稿一覧", posts_path %>
</div>

